<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class = "container">
    <div class = "row">
        <div class = "col-sm">
            Tournament Name
        </div>
        <div class = "col-sm">
            Capacity
        </div>
        <div class = "col-sm">
            Status
        </div>
        
        
        <a href = "">Login</a>
    </div>
{{!-- {{#each data}}
    <div class = "row">
        <div id = "{{authorId}}"class="col-sm">{{authorId}}</div>
        <div class="col-sm">{{firstName}}</div>
        <div class="col-sm">{{lastName}}</div>
        <div class="col-sm">{{dob}}</div>
        <div class="col-sm">{{dod}}</div>
        <button id = "edit{{authorId}}">Edit</button>
        <button id = "delete{{authorId}}">Delete</button>
    </div>
{{/each}} --}}
</div>