<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<h1>{{title}}</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Tournament Name</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>
                <a class="btn btn-info" href="">Admin Login</a>
            </th>
        </tr>
    </thead>
    <tbody>
{{#each tournaments}}
        <tr>
            <td class="w-50">{{tname}}</td>
            <td class="w-25">{{playercount}}/{{capacity}}</td>
            <td class="w-25">{{status}}</td>
            <td>
                <a class="btn btn-primary" href="">Join</a>
                <a class="btn btn-secondary" href="">View</a>
            </td>
        </tr>
{{/each}}
    </tbody>
</table>