<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style>
    .hidden {
        display: none;
    }
</style>

<h1>{{title}}</h1>

<form id="join_form">
    <div class="form-group">

        <h4>Tournament Name: {{data.0.tname}}</h4>
        <input type="hidden" id="id" value="{{data.0.id}}" />
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter Your Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Your Password">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Select a Team</label>
        <select multiple class="form-control" id="teamId">
        {{#each teams}}
            <option value="{{id}}">{{teamname}}</option>
        {{/each}}
    </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">New Team</label>
        <textarea class="form-control" id="newTeamName" rows="1"></textarea>
    </div>
    <div class="form-group">
        <button id="joinButton" class="btn btn-primary">Join</button>
        <a class="btn btn-secondary" href="/home">Cancel</a>
    </div>
    <div id="message" class="alert alert-danger hidden m-2" role="alert">
        Error.
    </div>

</form>

<script>
    // function ValidateForm() {

    //     var formInvalid = false;
    //     $('#join_form input').each(function() {
    //         if ($(this).val() === '') {
    //             formInvalid = true;
    //         }
    //     });

    //     if (formInvalid) {
    //         alert('One or Two fields are empty. Please fill up all fields');
    //         return false;
    //     }
    //     else {
    //         return true;
    //     }
    // }

    $(document).ready(function() {

        $("#joinButton").on('click', function(e) {
            e.preventDefault();
            if (!$("#teamId").children("option:selected").val()) {
                $("#newTeamName").val($("#username").val());
            }
            // if ($("#newTeamName").length > 0) {
            //     console.log("unselect")
            //     $("option:selected").prop("selected", false)
            // }
            $.ajax({
                type: "POST",
                url: "/home/join",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "username": $("#username").val(),
                    "password": $("#password").val(),
                    "id": $('#id').val(),
                    "team_Id": $("#teamId").children("option:selected").val(),
                    "newTeam": $("#newTeamName").val()
                }),
                success: function(data, status) {

                    if (data.successful) {
                        window.location.href = "/home";
                    }
                    else {
                        $('#message').show();
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                },
                complete: function(data, status) { //optional, used for debugging purposes
                    //console.log(status);
                }
            });
        });
    });
</script>
