<h1>{{title}}</h1>

<div class="alert alert-danger" role="alert">
    Are you sure you want to delete?
</div>

<form>
    <div class="form-group">
        <label for="authorId">Tournament ID</label>
        <input type="text" readonly class="form-control" id="authorId" aria-describedby="authorIdHelp" value={{data.id}}>
    </div>
    <div class="form-group">
        <label for="quote">Tournament name</label>
        <textarea class="form-control" readonly id="quote" aria-describedby="quoteHelp">{{data.tname}}</textarea>
    </div>
        <div class="form-group">
        <label for="category">Playercount</label>
        <input type="text" class="form-control" readonly id="playercount" aria-describedby="categoryHelp"  value={{data.playercount}}>
    </div>
    <div class="form-group">
        <label for="category">Capacity</label>
        <input type="text" class="form-control" readonly id="category" aria-describedby="categoryHelp" value={{data.capacity}}>
    </div>
    <div class="form-group">
        <button id="deleteButton" class="btn btn-danger">Delete</button>
        <button id="cancelButton" class="btn btn-secondary">Cancel</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $("#cancelButton").on('click', function(e) {
            e.preventDefault();
            window.location.href = "/admin";
        });
        $("#deleteButton").on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: "DELETE",
                url: "/admin/delete",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "id": $("#authorId").val(),
                }),
                success: function(data, status) {
                    $("#id").val(data.id);
                    window.location.href = "/admin";
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                },
                complete: function(data, status) { //optional, used for debugging purposes
                    //console.log(status);
                }
            });
        });
    });
</script>