<h1>{{title}}</h1>
<p>What are all the quotes?</p>
<!-- DO THIS WITH FLEXBOX OR BOOTSTRAP GRID INSTEAD OF TABLE-->
<table>
    <thead>
        <tr>
            <th>Tournament ID</th>
            <th>Tournament name</th>
            <th>Capacity</th>
            <th>Status</th>
            <th>
                <a class="btn btn-info" href="/admin/edit">Add tournament</a>
            </th>
        </tr>
    </thead>
    <tbody>
{{#each quotes}}
        <tr>
            <td class="w-25">{{id}}</td>
            <td class="w-25">{{tname}}</td>
            <td class="w-25">{{capacity}}</td>
             <td class="w-25">{{status}}</td>
            <td>
                <a class="btn btn-primary" href="/admin/edit?id={{id}}">Edit</a>
                <a class="btn btn-danger" href="/admin/delete?id={{id}}">Delete</a>
            </td>
        </tr>
{{/each}}
    </tbody>