<h1>{{title}}</h1>
<!-- DO THIS WITH FLEXBOX OR BOOTSTRAP GRID INSTEAD OF TABLE-->
<table>
    <thead>
        
    </tbody>


<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
            <th>Tournament ID</th>
            <th>Tournament name</th>
            <th>Player</th>
            <th>Status</th>
            
                <a class="btn btn-info" href="/admin/edit">Add tournament</a>
            </th>
        </tr>
    </thead>
    <tbody>
{{#each data}}
        <tr>
            <td class="w-25">{{id}}</td>
            <td class="w-25">{{tname}}</td>
             <td class="w-25">{{playercount}}/{{capacity}}</td>
             <td class="w-25">{{status}}</td>
            <td>
                <a class="btn btn-primary" href="/admin/edit?id={{id}}">Edit</a>
                <a class="btn btn-danger" href="/admin/delete?id={{id}}">Delete</a>
            </td>
        </tr>
{{/each}}
    </tbody>
</table>

<div id="twitch-embed"></div>

    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 854,
        height: 480,
        channel: "esl_csgo"
      });
    </script>
  </body>   